@import './base.css';
@import './variables.css';
@import './utils.css';

body {
	color: var(--black75);
	background-color: #eee;
}

header,
main,
footer {
	padding: 1rem 0.5rem;
}

header,
footer {
	color: var(--white80);
	background-color: var(--grey-xd);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.charts {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.charts > .chart-container {
	width: 100%;
}

.chart {
	max-height: calc(100vh - 2rem);
	width: 100%;
	height: 20rem;
}

.chart-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.75rem;
}

.chart-title > div {
	display: flex;
	align-items: baseline;
}

.chart-title .font-small {
	opacity: 0.75;
	margin-left: 0.25rem;
}

.controls {
	display: flex;
	gap: 1rem;
	color: var(--white75);
	background-color: var(--grey-xd);
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
}

@media (min-width: 960px) {
	.charts {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.charts > .chart-container {
		width: calc(50% - 1rem);
		background-color: #fff;
		border-radius: 0.5rem;
		padding: 0.75rem;
	}

	header,
	main,
	footer {
		padding: 1rem;
	}
}
