@import './base.css?v=0.3';
@import './variables.css';
@import './utils.css';

body {
	color: var(--black75);
	background-color: #eee;
}

main,
footer {
	padding: 1rem 0.5rem;
}

header,
footer {
	color: var(--white80);
	background-color: var(--grey-xxd);
}

button {
	border: 1px solid transparent;
	border-radius: 0.25rem;
	outline: none;
	color: inherit;
}

button:hover {
	border-color: var(--white15);
}

button:active {
	color: #fff;
	background-color: var(--white10);
}

h1 {
	font-size: 1.75rem;
}

.charts {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.charts > .chart-container {
	width: 100%;
}

.chart {
	max-height: calc(100vh - 2rem);
	width: 100%;
	height: 20rem;
}

.chart-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.75rem;
}

.chart-title > div {
	display: flex;
	align-items: baseline;
}

.chart-title .font-small {
	opacity: 0.75;
	margin-left: 0.25rem;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	color: var(--white75);
	background-color: var(--grey-xd);
	padding: 0.5rem 0.25rem;
	svg {
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		path {
			fill: currentColor;
		}
	}
	> div {
		gap: 0.5rem;
	}
}

.dark-toggle {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}

.icon.light {
	display: block;
}

.icon.dark {
	display: none;
}

.icon.dark {
	display: none;
}
#theme-toggle:checked ~ button .icon.light {
	display: none;
}
#theme-toggle:checked ~ button .icon.dark {
	display: block;
}

@media (min-width: 960px) {
	.charts {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.charts > .chart-container {
		width: calc(50% - 1rem);
		background-color: #fff;
		border-radius: 0.5rem;
		padding: 0.75rem;
	}

	main,
	footer {
		padding: 1rem;
	}
}
